@font-face {
  font-family: Colaborate;
  src: url(Colaborate/ColabLig.otf);
}

*{
  font-family: Colaborate, sans-serif;
}
body{
  overflow-x:hidden;
  font-size:17px;
}
a{
	outline:none !important;
}
::-moz-selection{
background:#80C356;
color:#eee;
}

#shadow{
	display:none;
	position:fixed;
	top:5%;
	left:0;
	width:100%;
	height:100vh;
	background:rgba(0,0,0,.6);
	z-index:100;
}

#upBt{
	display:none;
	position:fixed;
	bottom:0;
	right:0;
	background-color:#80C356;
	padding:30px;
	z-index:9;
	font-size:1.5em;
	margin:30px;
	color:#fff;
	border-radius:100%;
	box-shadow:0px 0px 10px rgba(0,0,0,.7);
}
#upBt:hover{
  cursor:pointer; 
  -webkit-transform:translateY(-15px);
  -ms-transform:translateY(-15px);
  -o-transform:translateY(-15px);
  transform:translateY(-15px);
    -webkit-transition:all 0.2s ease-out;
  -o-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
  box-shadow:none;
}

.navbar{
  box-sizing: content-box;
  position:relative;
  top:0;
  background:#fff;
  margin:2.5% 0%;
  z-index:100;
  padding:1rem 0rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
  font-size:1.3em;
  font-weight:bold;
  text-align:left;
}

.navbar-expand-lg .navbar-nav .nav-item:after{
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 00%;
    padding-top: 0px;
    border-bottom: 3px solid #80C356;
  }

.navbar-expand-lg .navbar-nav .nav-link:active,
.navbar-expand-lg .navbar-nav .nav-link:focus{
 outline:none !important;
}
nav div ul li{
  margin-left:3%;
}


nav div ul{
  width:100%;
  display:flex;
  justify-content:flex-end;
  margin-right:4rem;
}

nav > #subnav{
  position:absolute;
  width:40%;
  padding-right:0.7%;
  padding-left:4rem;
  background:#fff;
}
nav > #subnav > a > img{
  width:70%;
  position: relative;
  margin-top:-3.2%;
  z-index:101;
}
.subnavUl{
  background:transparent;
  padding:0;
  position:absolute;
  top:75%;
  width:auto;
  margin:0;
  border:none;
  -webkit-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
  height:0px;
  overflow:hidden;
  box-shadow:0px;
  text-align:center;
}
nav div ul li #contactUl{
right:0;top:90%;
display:none;
}

.subnavUl li{
  margin:0;
}
.subnavUl li a{
  font-weight:lighter;
  font-size:1.3em;
  color:#777;
}
.subnavUl li a:hover{
  text-decoration:none;
  color:#80C356;
}

.hover{
  height:190px;
}
.hover2{
  height:220px;
}

nav .navbar-collapse .navbar-nav .nav-link:hover{
  color:#80C356;
}

nav .navbar-collapse .navbar-nav .active .nav-link:hover{
  color:#000;
}
nav #brandFixed{
  height:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:11;
  opacity:0;
  margin-left:4rem;
}

nav #brandFixed img{
  position:absolute;
  top:54%;
  transform:translate(0%, -50%);
  height:85%;
}
nav #brandFixed2{
display:none;
  height:auto;
  z-index:11;
margin-left:2.5rem;
}

nav #brandFixed2 img{
  position:relative;
  height:3.8rem;
}

.navbar-toggler{
	margin-right:2.5rem;
	border:none;
	padding:0;
	font-size:2.2em;
	outline:none !important;
}


@media screen and (max-width:1200px){
nav > #subnav{
	width:42%;
}	

}

@media screen and (max-width:990px){
nav div ul li #contactUl{
  display:block;
}
.navbar > .collapse{
	 -webkit-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
	display:block;
	position:fixed;
	top:0;
	left:-100%;
	background:#333;
	width:auto;
	z-index:101;
	height:100vh;
	font-size:1.5em;
	padding:6%;
	padding-right:20%;
}
.navbar > .collapse > .navbar-nav > .nav-item{
	padding:0%;
	margin:2%;
    text-align:center;

}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link{
	padding:0;
	margin:7%;
	color:#aaa;
	width:100%;
    border-radius:0;

}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link:hover{
  color:#80C356;
}

.navbar > .navbar-collapse > .navbar-nav > .activeS > .nav-link:hover{
  color:#fff;
}
.navbar > .navbar-collapse > .navbar-nav > .activeS > .nav-link{
	color:#fff;
}

.navbar > .navbar-brand{
	display:none;
}
nav #brandFixed{
	display:none;
}
nav #brandFixed2{
	display:block;
}

nav > #subnav{
display:none;
}
.subnavUl{
	display:none;
font-size:0.7em;
}
nav div ul li #contactUl{
position:fixed;
bottom:0%;
left:50%;
transform:translate(-50%, -80%);
display:block;
width:90%;

}
  footer{
	position:relative;
    display:flex;
    justify-content:space-between;
    padding:2%;
    background:#D9D9D9;
	z-index:10;
  }
  footer strong{
    margin-left:1%;
    font-size:1.25em;
  }
  footer ul{
    display:flex;
    list-style:none;
    margin:0;
    margin-right:1%;
    padding:0;
    width:20%;
    justify-content:space-between;
  }
  footer ul li a span{
    font-size:1.5em;
  }

}
@media screen and (max-width:767px){
 footer ul{
    width:27%;
  }
}
@media screen and (max-width:575px){
#upBt{
	padding:23px;
	font-size:2em;
	margin:23px;
}
.navbar-toggler{
	margin-right:1.5rem;
}
nav #brandFixed2{
margin-left:1.5rem;
}
.navbar > .collapse{
	padding-right:10%;
}
footer{
	font-size:0.9em;
	padding:4%;
}
footer > ul{
	display:none;
}
}
